
body {

    background-color: rgb(34, 34, 34);

}

button {

    background-color: white;
    color: black;
    height: 75px;
    width: 200px;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    /* padding: 1em 2em; */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin-top: 30px;
    filter: drop-shadow(0 0 0.25rem rgb(180, 180, 180));
    

}
  
button:hover {

    transform: translateY(-4px) translateX(-2px);
    filter: drop-shadow(3px 3px 3px white);

}
  


.container {

    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;

}

h1 {

    text-align: center;
    color: white;
    filter: drop-shadow(0 0 0.75rem white);

}